/* -- -- Preformateamos el HTML -- --*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -- -- Variables -- -- */
.contenedor{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

p{
    font-size: 16px;
}

.btn{
    padding: 16px 32px;
    color: #00a2e0;
    background-color: #d9d9d9;
    border: none;
    border-radius: 8px;
    font-size: 32px;
}

.btn:hover{
    background-color: #00a2e0;
    color: #fff;
}

/* -- -- HEADER -- -- */
#home{
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* -- -- NAV -- -- */
#home nav{
    width: 100%;
    background-color: #000;
    margin-top: 20px;
    position: fixed;
    z-index: 1000;
}

#home nav .contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home nav .contenedor .logo{
    width: 50%;
    padding: 8px 0;
}

#home nav .contenedor .logo img{
    vertical-align: top;
}

#home nav .contenedor .menu{
    width: 50%;
    text-align: right;
}

#home nav .contenedor .menu a{
    text-decoration: none;
    color: #00a2e0;
    padding: 8px 0;
    margin: 0 16px 0 0;
}

#home nav .contenedor .menu a:last-child{
    margin: 0;
}

#home nav .contenedor .menu a:hover{
    border-bottom: 1px solid #fff;
    color: #fff;
}

#home .contenedor-texto .inicio{
    height: 760px;
    text-align: center;
}

#home .contenedor-texto .inicio .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .contenedor-texto .inicio .titulo h2{
    position: absolute;
    font-size: 160px;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-text-stroke: 4px #fff;
}

#home .contenedor-texto .inicio .titulo .front{
    -webkit-text-stroke: 4px #fff;
}

#home .contenedor-texto .inicio .titulo .back{
    filter: blur(4px);
}

#home .contenedor-texto .inicio p{
    color: #fff;
    margin-top: 460px;
}

#home .contenedor-texto .inicio button{
    margin: 40px 0;
}

/* -- -- Who Are We -- -- */
#who-are-we{
    background-color: #000;
    padding: 160px 0;
}

#who-are-we .contenedor{
    color: #00a2e0;
    text-align: center;
}

#who-are-we .contenedor h2{
    margin-bottom: 40px;
}

/* -- -- Characteristics -- -- */
#characteristics{
    background-color: #141414;
    padding: 80px 0;
}

#characteristics .contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

#characteristics .contenedor .caja-caracteristica{
    width: 30%;
    color: #fff;
}

#characteristics .contenedor .caja-caracteristica .nombre{
    text-transform: uppercase;
    margin-bottom: 16px;
}

/* -- -- Priorities Go First -- -- */
#priorities-go-first{
    background-image: url(../img/bg-priorities.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 0 0;
    min-height: 760px;
}

#priorities-go-first .contenedor .titulo-descripcion{
    color: #00a2e0;
    text-align: center;
    margin-bottom: 80px;
}

#priorities-go-first .contenedor .titulo-descripcion .titulo{
    text-transform: uppercase;
    margin-bottom: 40px;
}

#priorities-go-first .contenedor .contenedor-prioridades{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#priorities-go-first .contenedor .contenedor-prioridades .caja-prioridad{
    width: 30%;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    color: #fff;
    padding: 40px;
}

#priorities-go-first .contenedor .contenedor-prioridades .caja-prioridad .titulo{
    text-transform: uppercase;
    margin-bottom: 40px;
}

#priorities-go-first .contenedor .contenedor-prioridades .caja-prioridad .comentario{
    margin-bottom: 40px;
}

#priorities-go-first .contenedor .contenedor-prioridades .caja-prioridad .persona{
    text-transform: uppercase;
}

/* -- -- What Exactly We Do -- -- */
#what-exactly-we-do{
    background-color: #000;
    padding: 160px 0;
}

#what-exactly-we-do .contenedor .titulo-descripcion{
    color: #00a2e0;
    text-align: center;
    margin-bottom: 160px;
}

#what-exactly-we-do .contenedor .titulo{
    text-transform: uppercase;
    margin-bottom: 40px;
}

#what-exactly-we-do .contenedor .contenedor-hacemos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

#what-exactly-we-do .contenedor .contenedor-hacemos .caja-hacemos{
    width: 30%;
    color: #fff;
    display: inline-block;
}

#what-exactly-we-do .contenedor .contenedor-hacemos .caja-hacemos .imagen{
    margin-bottom: 20px;
}

#what-exactly-we-do .contenedor .contenedor-hacemos .caja-hacemos .imagen img{
    height: 108px;
}

/* -- -- Testimony 1 -- -- */
#testimony-1{
    background-color: #141414;
    padding: 160px 0 80px 0;
}

#testimony-1 .contenedor{
    color: #00a2e0;
    text-align: center;
}

#testimony-1 .contenedor .descripcion{
    margin-bottom: 40px;
}

/* -- -- Nature Is Above All -- -- */
#nature-is-above-all .contenedor-nature{
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nature-is-above-all .contenedor-nature .texto{
    width: 50%;
    text-align: center;
    margin: 80px;
    color: #00a2e0;
}

#nature-is-above-all .contenedor-nature .texto .titulo{
    text-transform: uppercase;
    margin-bottom: 20px;
}

#nature-is-above-all .contenedor-nature .imagen{
    width: 50%;
}

#nature-is-above-all .contenedor-nature .imagen img{
    width: 100%;
    vertical-align: top;
}

/* -- -- Buy Your Tickets -- -- */
#buy-your-tickets{
    background-image: url(../img/bg-buy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 400px 0;
}

#buy-your-tickets .contenedor{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#buy-your-tickets .contenedor .contenedor-espacio{
    width: 70%;
}

#buy-your-tickets .contenedor .contenedor-tickets{
    width: 30%;
    text-align: right;
    color: #fff;
}

#buy-your-tickets .contenedor .contenedor-tickets .titulo{
    text-transform: uppercase;
    margin-bottom: 20px;
}

#buy-your-tickets .contenedor .contenedor-tickets .descripcion{
    margin-bottom: 40px;
}

/* -- -- Schedule -- -- */
#schedule{
    background-color: #141414;
    color: #fff;
    padding: 80px 0;
}

#schedule .contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#schedule .contenedor .caja-horario{
    width: 30%;
    text-align: center;
}

#schedule .contenedor .caja-horario .dias{
    margin-bottom: 8px;
}

/* -- -- Testimony 2 -- -- */
#testimony-2{
    background-color: #000;
    padding: 160px 0 80px 0;
}

#testimony-2 .contenedor{
    color: #00a2e0;
    text-align: center;
}

#testimony-2 .contenedor .descripcion{
    margin-bottom: 40px;
}
/* -- -- FOOTER -- -- */
footer{
    background-color: #141414;
    padding: 80px 0;
}

footer .contenedor{
    display: flex;
    flex-direction: row;
}

footer .contenedor .redes-sociales{
    width: 50%;
    text-align: left;
    color: #fff;
}

footer .contenedor .redes-sociales .titulo{
    text-transform: uppercase;
    margin-bottom: 16px;
}

footer .contenedor .redes-sociales .descripcion{
    width: 50%;
    margin-bottom: 16px;
    text-align: justify;
}

footer .contenedor .redes-sociales .contenedor-redes-sociales{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .contenedor .redes-sociales .contenedor-redes-sociales i{
    text-align: center;
    color: #000;
    background-color: #fff;
    font-size: 24px;
    border-radius: 100%;
    padding: 8px;
}

footer .contenedor .redes-sociales .contenedor-redes-sociales i:hover{
    color: #00a2e0;
    cursor: pointer;
}

footer .contenedor .redes-sociales .contenedor-redes-sociales i:nth-child(1){
    padding: 8px 12.5px;
}

footer .contenedor .redes-sociales .contenedor-redes-sociales i:nth-child(2){
    padding: 8px 9.5px;
}

footer .contenedor .redes-sociales .contenedor-redes-sociales i:nth-child(4){
    padding: 8px 6.5px;
}

footer .contenedor .contactos{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .contenedor .contactos .caja-contacto{
    color: #fff;
    text-align: center;
}

footer .contenedor .contactos .caja-contacto .titulo{
    text-transform: uppercase;
    margin-bottom: 20px;
}

footer .contenedor .contactos .caja-contacto a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    margin-bottom: 10px;
}

footer .contenedor .contactos .caja-contacto a:hover{
    border-bottom: 1px solid #fff;
}

.barra{
    height: 20px;
    background-color: #00a2e0;
}